In [10]:
import numpy as np
import pandas as pd
dict = {
         "Name" : ['John','Rony','Leo','Kane','Elbert'],
         "Roll_Num" : [111,112,113,114,115],
         "Marks" : [95,86,77,89,97]
}
df=pd.DataFrame(dict)        #helps to create Frame for our data wich includes index number & colums
df

     Name  Roll_Num  Marks
0    John       111     95
1    Rony       112     86
2     Leo       113     77
3    Kane       114     89
4  Elbert       115     97

In [14]:
df.to_csv("D:\\Dig\\abx.csv") #helps to export data into csv format

In [15]:
df.describe()

         Roll_Num      Marks
count    5.000000   5.000000
mean   113.000000  88.800000
std      1.581139   7.949843
min    111.000000  77.000000
25%    112.000000  86.000000
50%    113.000000  89.000000
75%    114.000000  95.000000
max    115.000000  97.000000

In [16]:
df

     Name  Roll_Num  Marks
0    John       111     95
1    Rony       112     86
2     Leo       113     77
3    Kane       114     89
4  Elbert       115     97

In [31]:
import numpy as np
import pandas as pd
dict1 = {
         "Name" : ['Ritik','hardik','Roy','Jay','Krish'],
         "Roll_Num" : [111,119,113,114,115],
         "Marks" : [95,86,1,2,3]
}
df1=pd.DataFrame(dict1)        #helps to create Frame for our data wich includes index number & colums
df1

     Name  Roll_Num  Marks
0   Ritik       111     95
1  hardik       119     86
2     Roy       113      1
3     Jay       114      2
4   Krish       115      3

In [35]:
df1.to_csv("D:\\Dig\\h_v.csv")
x1=df1.to_csv("D:\\Dig\\x_h.csv",index=False)  #it will remove index column check you .csv file there will be no column of index
x1

In [36]:
import numpy as np
import pandas as pd
df=pd.read_csv(r"D:\Dig\car_pricing.csv")
df

,Make,Model,Year,Engine_Fuel_Type,Engine_HP,Engine_Cylinders,Transmission_Type,Driven_Wheels,Number_of_Doors,Market_Category,Vehicle_Size,Vehicle_Style,highway_MPG,city_mpg,Popularity,Price,Unnamed: 16,Unnamed: 17
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135,NaN,
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650,NaN,NaN
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350,NaN,NaN
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450,NaN,NaN
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120,NaN,NaN
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670,NaN,NaN
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620,NaN,NaN
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920,NaN,NaN
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995,NaN,NaN

In [37]:
df.head(5)

,Make,Model,Year,Engine_Fuel_Type,Engine_HP,Engine_Cylinders,Transmission_Type,Driven_Wheels,Number_of_Doors,Market_Category,Vehicle_Size,Vehicle_Style,highway_MPG,city_mpg,Popularity,Price,Unnamed: 16,Unnamed: 17
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135,NaN,
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650,NaN,NaN
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350,NaN,NaN
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450,NaN,NaN
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500,NaN,NaN

In [38]:
df.tail(5)

,Make,Model,Year,Engine_Fuel_Type,Engine_HP,Engine_Cylinders,Transmission_Type,Driven_Wheels,Number_of_Doors,Market_Category,Vehicle_Size,Vehicle_Style,highway_MPG,city_mpg,Popularity,Price,Unnamed: 16,Unnamed: 17
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120,NaN,NaN
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670,NaN,NaN
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620,NaN,NaN
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920,NaN,NaN
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995,NaN,NaN

In [40]:
df['Engine_HP']

0        335.0
1        300.0
2        300.0
3        230.0
4        230.0
         ...
11909    300.0
11910    300.0
11911    300.0
11912    300.0
11913    221.0
Name: Engine_HP, Length: 11914, dtype: float64

In [43]:
df['Engine_HP'][15]

320.0

In [44]:
df['Engine_HP'][2]=222.5

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
df.head(5)

,Make,Model,Year,Engine_Fuel_Type,Engine_HP,Engine_Cylinders,Transmission_Type,Driven_Wheels,Number_of_Doors,Market_Category,Vehicle_Size,Vehicle_Style,highway_MPG,city_mpg,Popularity,Price,Unnamed: 16,Unnamed: 17
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135,NaN,
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650,NaN,NaN
2,BMW,1 Series,2011,premium unleaded (required),222.5,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350,NaN,NaN
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450,NaN,NaN
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500,NaN,NaN