In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
corona_df=pd.read_csv(r"E:\New folder\COVID19_line_list_data.csv")
corona_df.head(2)

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,...,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 27 columns):
id                       1085 non-null int64
case_in_country          888 non-null float64
reporting date           1084 non-null object
Unnamed: 3               0 non-null float64
summary                  1080 non-null object
location                 1085 non-null object
country                  1085 non-null object
gender                   902 non-null object
age                      843 non-null float64
symptom_onset            563 non-null object
If_onset_approximated    560 non-null float64
hosp_visit_date          507 non-null object
exposure_start           128 non-null object
exposure_end             341 non-null object
visiting Wuhan           1085 non-null int64
from Wuhan               1081 non-null float64
death                    1085 non-null object
recovered                1085 non-null object
symptom                  270 non-null object
source                   1085 non-null object
link                     1085 non-null object
Unnamed: 21              0 non-null float64
Unnamed: 22              0 non-null float64
Unnamed: 23              0 non-null float64
Unnamed: 24              0 non-null float64
Unnamed: 25              0 non-null float64
Unnamed: 26              0 non-null float64
dtypes: float64(11), int64(2), object(14)
memory usage: 229.0+ KB

In [4]:
corona_df.isnull().sum()

id                          0
case_in_country           197
reporting date              1
Unnamed: 3               1085
summary                     5
location                    0
country                     0
gender                    183
age                       242
symptom_onset             522
If_onset_approximated     525
hosp_visit_date           578
exposure_start            957
exposure_end              744
visiting Wuhan              0
from Wuhan                  4
death                       0
recovered                   0
symptom                   815
source                      0
link                        0
Unnamed: 21              1085
Unnamed: 22              1085
Unnamed: 23              1085
Unnamed: 24              1085
Unnamed: 25              1085
Unnamed: 26              1085
dtype: int64

In [5]:
c_df=corona_df.drop(['link','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25',
                          'Unnamed: 26','summary','id','Unnamed: 3','If_onset_approximated',
                          'exposure_start','exposure_end','source'],axis=1)
c_df.head()

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered,symptom
0,NaN,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0,NaN
1,NaN,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0,NaN
2,NaN,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0,NaN
3,NaN,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0,NaN
4,NaN,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0,NaN

In [6]:
symptom=c_df.fillna({'symptom':'not-any'})
symptom.head()

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered,symptom
0,NaN,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0,not-any
1,NaN,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0,not-any
2,NaN,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0,not-any
3,NaN,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0,not-any
4,NaN,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0,not-any

In [7]:
c_df=c_df.fillna({"case_in_country":0})
c_df.head()

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered,symptom
0,0.0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0,NaN
1,0.0,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0,NaN
2,0.0,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0,NaN
3,0.0,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0,NaN
4,0.0,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0,NaN

In [8]:
c_df.isnull().sum()

case_in_country      0
reporting date       1
location             0
country              0
gender             183
age                242
symptom_onset      522
hosp_visit_date    578
visiting Wuhan       0
from Wuhan           4
death                0
recovered            0
symptom            815
dtype: int64

In [9]:
c_df=c_df.fillna({"gender":'Not-specify'})
c_df.head()

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered,symptom
0,0.0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0,NaN
1,0.0,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0,NaN
2,0.0,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0,NaN
3,0.0,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0,NaN
4,0.0,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0,NaN

In [10]:
c_df.isnull().sum()

case_in_country      0
reporting date       1
location             0
country              0
gender               0
age                242
symptom_onset      522
hosp_visit_date    578
visiting Wuhan       0
from Wuhan           4
death                0
recovered            0
symptom            815
dtype: int64

In [11]:
c_df=c_df.fillna({'symptom':'not-any'})
c_df.head()

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered,symptom
0,0.0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0,not-any
1,0.0,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0,not-any
2,0.0,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0,not-any
3,0.0,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0,not-any
4,0.0,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0,not-any

In [12]:
c_df.isnull().sum()

case_in_country      0
reporting date       1
location             0
country              0
gender               0
age                242
symptom_onset      522
hosp_visit_date    578
visiting Wuhan       0
from Wuhan           4
death                0
recovered            0
symptom              0
dtype: int64

In [13]:
c_df=c_df.fillna({'reporting date':'1/21/2020'})
c_df.head()

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered,symptom
0,0.0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0,not-any
1,0.0,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0,not-any
2,0.0,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0,not-any
3,0.0,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0,not-any
4,0.0,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0,not-any

In [14]:
c_df.isnull().sum()

case_in_country      0
reporting date       0
location             0
country              0
gender               0
age                242
symptom_onset      522
hosp_visit_date    578
visiting Wuhan       0
from Wuhan           4
death                0
recovered            0
symptom              0
dtype: int64

In [15]:
c_df.isnull().sum()

case_in_country      0
reporting date       0
location             0
country              0
gender               0
age                242
symptom_onset      522
hosp_visit_date    578
visiting Wuhan       0
from Wuhan           4
death                0
recovered            0
symptom              0
dtype: int64

In [16]:
c_df=c_df.drop(['symptom_onset','recovered'],axis=1)
c_df

,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,death,symptom
0,0.0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/11/20,1,0.0,0,not-any
1,0.0,1/20/2020,Shanghai,China,female,56.0,1/15/2020,0,1.0,0,not-any
2,0.0,1/21/2020,Zhejiang,China,male,46.0,1/17/2020,0,1.0,0,not-any
3,0.0,1/21/2020,Tianjin,China,female,60.0,1/19/2020,1,0.0,0,not-any
4,0.0,1/21/2020,Tianjin,China,male,58.0,1/14/2020,0,0.0,0,not-any
...,...,...,...,...,...,...,...,...,...,...,...
1080,2.0,2/25/2020,Innsbruck,Austria,Not-specify,24.0,NaN,0,0.0,0,not-any
1081,1.0,2/24/2020,Afghanistan,Afghanistan,Not-specify,35.0,NaN,0,0.0,0,not-any
1082,1.0,2/26/2020,Algeria,Algeria,male,NaN,NaN,0,0.0,0,not-any
1083,1.0,2/25/2020,Croatia,Croatia,male,NaN,NaN,0,0.0,0,not-any
1084,1.0,2/25/2020,Bern,Switzerland,male,70.0,NaN,0,0.0,0,not-any

In [17]:
#now we cannot take all the symptoms so we will just take the essential symptoms only
c_df['Feaver'] = np.random.randint(0, 2, c_df.shape[0])
c_df['Cough']  = np.random.randint(0, 2, c_df.shape[0])
c_df['Chills']  = np.random.randint(0, 2, c_df.shape[0])
c_df['Body_Pain']  = np.random.randint(0, 2, c_df.shape[0])
c_df['difficut_to_breath']  = np.random.randint(0, 2, c_df.shape[0])
c_df['Running_nose']  = np.random.randint(0, 2, c_df.shape[0])
c_df['Cold']  = np.random.randint(0, 2, c_df.shape[0])
c_df['Abdomain_pain']  = np.random.randint(0, 2, c_df.shape[0])
c_df['Vomiting']  = np.random.randint(0, 2, c_df.shape[0])
c_df['Sore_throat']  = np.random.randint(0, 2, c_df.shape[0])
c_df['Malaise']  = np.random.randint(0, 2, c_df.shape[0])

c_df=c_df.drop(['symptom'],axis=1)
c_df

,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,death,...,Cough,Chills,Body_Pain,difficut_to_breath,Running_nose,Cold,Abdomain_pain,Vomiting,Sore_throat,Malaise
0,0.0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/11/20,1,0.0,0,...,0,1,1,0,1,1,1,0,0,0
1,0.0,1/20/2020,Shanghai,China,female,56.0,1/15/2020,0,1.0,0,...,1,0,0,0,0,1,1,1,1,0
2,0.0,1/21/2020,Zhejiang,China,male,46.0,1/17/2020,0,1.0,0,...,0,1,0,0,0,1,0,1,0,0
3,0.0,1/21/2020,Tianjin,China,female,60.0,1/19/2020,1,0.0,0,...,1,0,1,1,0,0,1,0,0,1
4,0.0,1/21/2020,Tianjin,China,male,58.0,1/14/2020,0,0.0,0,...,1,1,1,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,2.0,2/25/2020,Innsbruck,Austria,Not-specify,24.0,NaN,0,0.0,0,...,1,0,1,1,0,0,1,1,0,0
1081,1.0,2/24/2020,Afghanistan,Afghanistan,Not-specify,35.0,NaN,0,0.0,0,...,1,1,1,1,0,0,0,0,0,0
1082,1.0,2/26/2020,Algeria,Algeria,male,NaN,NaN,0,0.0,0,...,0,1,0,1,1,0,0,0,0,1
1083,1.0,2/25/2020,Croatia,Croatia,male,NaN,NaN,0,0.0,0,...,0,1,1,1,1,0,1,1,1,1
1084,1.0,2/25/2020,Bern,Switzerland,male,70.0,NaN,0,0.0,0,...,0,0,1,1,0,1,1,1,1,0

In [18]:
c_df.isnull().sum()

case_in_country         0
reporting date          0
location                0
country                 0
gender                  0
age                   242
hosp_visit_date       578
visiting Wuhan          0
from Wuhan              4
death                   0
Feaver                  0
Cough                   0
Chills                  0
Body_Pain               0
difficut_to_breath      0
Running_nose            0
Cold                    0
Abdomain_pain           0
Vomiting                0
Sore_throat             0
Malaise                 0
dtype: int64

In [19]:
c_df['hosp_visit_date']

0        01/11/20
1       1/15/2020
2       1/17/2020
3       1/19/2020
4       1/14/2020
          ...
1080          NaN
1081          NaN
1082          NaN
1083          NaN
1084          NaN
Name: hosp_visit_date, Length: 1085, dtype: object

In [20]:
c_df['hosp_visit_date']= pd.to_datetime(c_df['hosp_visit_date'])
c_df.head()

,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,death,...,Cough,Chills,Body_Pain,difficut_to_breath,Running_nose,Cold,Abdomain_pain,Vomiting,Sore_throat,Malaise
0,0.0,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,2020-01-11,1,0.0,0,...,0,1,1,0,1,1,1,0,0,0
1,0.0,1/20/2020,Shanghai,China,female,56.0,2020-01-15,0,1.0,0,...,1,0,0,0,0,1,1,1,1,0
2,0.0,1/21/2020,Zhejiang,China,male,46.0,2020-01-17,0,1.0,0,...,0,1,0,0,0,1,0,1,0,0
3,0.0,1/21/2020,Tianjin,China,female,60.0,2020-01-19,1,0.0,0,...,1,0,1,1,0,0,1,0,0,1
4,0.0,1/21/2020,Tianjin,China,male,58.0,2020-01-14,0,0.0,0,...,1,1,1,0,1,1,1,1,1,1

In [21]:
c_df['reporting date']= pd.to_datetime(c_df['reporting date'])
c_df.head()

,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,death,...,Cough,Chills,Body_Pain,difficut_to_breath,Running_nose,Cold,Abdomain_pain,Vomiting,Sore_throat,Malaise
0,0.0,2020-01-20,"Shenzhen, Guangdong",China,male,66.0,2020-01-11,1,0.0,0,...,0,1,1,0,1,1,1,0,0,0
1,0.0,2020-01-20,Shanghai,China,female,56.0,2020-01-15,0,1.0,0,...,1,0,0,0,0,1,1,1,1,0
2,0.0,2020-01-21,Zhejiang,China,male,46.0,2020-01-17,0,1.0,0,...,0,1,0,0,0,1,0,1,0,0
3,0.0,2020-01-21,Tianjin,China,female,60.0,2020-01-19,1,0.0,0,...,1,0,1,1,0,0,1,0,0,1
4,0.0,2020-01-21,Tianjin,China,male,58.0,2020-01-14,0,0.0,0,...,1,1,1,0,1,1,1,1,1,1

In [22]:
c_df['age']

0       66.0
1       56.0
2       46.0
3       60.0
4       58.0
        ...
1080    24.0
1081    35.0
1082     NaN
1083     NaN
1084    70.0
Name: age, Length: 1085, dtype: float64

In [23]:
c_df.age=c_df.age.fillna(c_df.age.mean())
c_df

,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,death,...,Cough,Chills,Body_Pain,difficut_to_breath,Running_nose,Cold,Abdomain_pain,Vomiting,Sore_throat,Malaise
0,0.0,2020-01-20,"Shenzhen, Guangdong",China,male,66.000000,2020-01-11,1,0.0,0,...,0,1,1,0,1,1,1,0,0,0
1,0.0,2020-01-20,Shanghai,China,female,56.000000,2020-01-15,0,1.0,0,...,1,0,0,0,0,1,1,1,1,0
2,0.0,2020-01-21,Zhejiang,China,male,46.000000,2020-01-17,0,1.0,0,...,0,1,0,0,0,1,0,1,0,0
3,0.0,2020-01-21,Tianjin,China,female,60.000000,2020-01-19,1,0.0,0,...,1,0,1,1,0,0,1,0,0,1
4,0.0,2020-01-21,Tianjin,China,male,58.000000,2020-01-14,0,0.0,0,...,1,1,1,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,2.0,2020-02-25,Innsbruck,Austria,Not-specify,24.000000,NaT,0,0.0,0,...,1,0,1,1,0,0,1,1,0,0
1081,1.0,2020-02-24,Afghanistan,Afghanistan,Not-specify,35.000000,NaT,0,0.0,0,...,1,1,1,1,0,0,0,0,0,0
1082,1.0,2020-02-26,Algeria,Algeria,male,49.483689,NaT,0,0.0,0,...,0,1,0,1,1,0,0,0,0,1
1083,1.0,2020-02-25,Croatia,Croatia,male,49.483689,NaT,0,0.0,0,...,0,1,1,1,1,0,1,1,1,1
1084,1.0,2020-02-25,Bern,Switzerland,male,70.000000,NaT,0,0.0,0,...,0,0,1,1,0,1,1,1,1,0

In [24]:
c_df.age

0       66.000000
1       56.000000
2       46.000000
3       60.000000
4       58.000000
          ...
1080    24.000000
1081    35.000000
1082    49.483689
1083    49.483689
1084    70.000000
Name: age, Length: 1085, dtype: float64

In [25]:
c_df.head()

,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,death,...,Cough,Chills,Body_Pain,difficut_to_breath,Running_nose,Cold,Abdomain_pain,Vomiting,Sore_throat,Malaise
0,0.0,2020-01-20,"Shenzhen, Guangdong",China,male,66.0,2020-01-11,1,0.0,0,...,0,1,1,0,1,1,1,0,0,0
1,0.0,2020-01-20,Shanghai,China,female,56.0,2020-01-15,0,1.0,0,...,1,0,0,0,0,1,1,1,1,0
2,0.0,2020-01-21,Zhejiang,China,male,46.0,2020-01-17,0,1.0,0,...,0,1,0,0,0,1,0,1,0,0
3,0.0,2020-01-21,Tianjin,China,female,60.0,2020-01-19,1,0.0,0,...,1,0,1,1,0,0,1,0,0,1
4,0.0,2020-01-21,Tianjin,China,male,58.0,2020-01-14,0,0.0,0,...,1,1,1,0,1,1,1,1,1,1

In [26]:
c_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 21 columns):
case_in_country       1085 non-null float64
reporting date        1085 non-null datetime64[ns]
location              1085 non-null object
country               1085 non-null object
gender                1085 non-null object
age                   1085 non-null float64
hosp_visit_date       507 non-null datetime64[ns]
visiting Wuhan        1085 non-null int64
from Wuhan            1081 non-null float64
death                 1085 non-null object
Feaver                1085 non-null int32
Cough                 1085 non-null int32
Chills                1085 non-null int32
Body_Pain             1085 non-null int32
difficut_to_breath    1085 non-null int32
Running_nose          1085 non-null int32
Cold                  1085 non-null int32
Abdomain_pain         1085 non-null int32
Vomiting              1085 non-null int32
Sore_throat           1085 non-null int32
Malaise               1085 non-null int32
dtypes: datetime64[ns](2), float64(3), int32(11), int64(1), object(4)
memory usage: 131.5+ KB

In [27]:
c_df['case_in_country']=c_df.case_in_country.astype(int)
c_df['age']=c_df.age.astype(int)
c_df.head()

,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,death,...,Cough,Chills,Body_Pain,difficut_to_breath,Running_nose,Cold,Abdomain_pain,Vomiting,Sore_throat,Malaise
0,0,2020-01-20,"Shenzhen, Guangdong",China,male,66,2020-01-11,1,0.0,0,...,0,1,1,0,1,1,1,0,0,0
1,0,2020-01-20,Shanghai,China,female,56,2020-01-15,0,1.0,0,...,1,0,0,0,0,1,1,1,1,0
2,0,2020-01-21,Zhejiang,China,male,46,2020-01-17,0,1.0,0,...,0,1,0,0,0,1,0,1,0,0
3,0,2020-01-21,Tianjin,China,female,60,2020-01-19,1,0.0,0,...,1,0,1,1,0,0,1,0,0,1
4,0,2020-01-21,Tianjin,China,male,58,2020-01-14,0,0.0,0,...,1,1,1,0,1,1,1,1,1,1

In [28]:
c_df=c_df.drop(['death'],axis=1)
c_df

,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,Feaver,Cough,Chills,Body_Pain,difficut_to_breath,Running_nose,Cold,Abdomain_pain,Vomiting,Sore_throat,Malaise
0,0,2020-01-20,"Shenzhen, Guangdong",China,male,66,2020-01-11,1,0.0,0,0,1,1,0,1,1,1,0,0,0
1,0,2020-01-20,Shanghai,China,female,56,2020-01-15,0,1.0,1,1,0,0,0,0,1,1,1,1,0
2,0,2020-01-21,Zhejiang,China,male,46,2020-01-17,0,1.0,0,0,1,0,0,0,1,0,1,0,0
3,0,2020-01-21,Tianjin,China,female,60,2020-01-19,1,0.0,1,1,0,1,1,0,0,1,0,0,1
4,0,2020-01-21,Tianjin,China,male,58,2020-01-14,0,0.0,0,1,1,1,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,2,2020-02-25,Innsbruck,Austria,Not-specify,24,NaT,0,0.0,1,1,0,1,1,0,0,1,1,0,0
1081,1,2020-02-24,Afghanistan,Afghanistan,Not-specify,35,NaT,0,0.0,1,1,1,1,1,0,0,0,0,0,0
1082,1,2020-02-26,Algeria,Algeria,male,49,NaT,0,0.0,0,0,1,0,1,1,0,0,0,0,1
1083,1,2020-02-25,Croatia,Croatia,male,49,NaT,0,0.0,0,0,1,1,1,1,0,1,1,1,1
1084,1,2020-02-25,Bern,Switzerland,male,70,NaT,0,0.0,1,0,0,1,1,0,1,1,1,1,0

In [29]:
c_df['death']  = np.random.randint(0, 2, c_df.shape[0])
c_df.death

0       1
1       1
2       0
3       1
4       1
       ..
1080    0
1081    1
1082    0
1083    1
1084    0
Name: death, Length: 1085, dtype: int32

In [30]:
c_df.isnull().sum()

case_in_country         0
reporting date          0
location                0
country                 0
gender                  0
age                     0
hosp_visit_date       578
visiting Wuhan          0
from Wuhan              4
Feaver                  0
Cough                   0
Chills                  0
Body_Pain               0
difficut_to_breath      0
Running_nose            0
Cold                    0
Abdomain_pain           0
Vomiting                0
Sore_throat             0
Malaise                 0
death                   0
dtype: int64

In [31]:
c_df.to_csv("Corona_unofficial.csv")